@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.md5.js"></script>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<h2>Index</h2>
@using (Html.BeginForm())
{
    <div>
        <div>
            @Html.Label("用户名")
            @Html.TextBox("username")
        </div>
        <div>
            @Html.Label("密码")
            @*<input id="password" type="password" />*@
            @Html.Password("password")
            @Html.Hidden("encryptPassword")
        </div>
        <div>
            @Html.Label("自动登录")
            @Html.CheckBox("rememberMe")
        </div>
        <script>
            function encrypt()
            {
                //alert($.md5("111"));
                //alert($("#password").val());

                $("#encryptPassword").val($.md5($("#password").val()));
                alert($("#encryptPassword").val());

            }
            
        </script>
        <input id="Submit1" onclick="encrypt()" type="submit" value="登录" />
    </div>

}